{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %} Лабораторная работа 4 {% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Редактирование профиля</h1>
    <form method="post">
        <div>
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" value="{{ user.name }}">
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" value="{{ user.password }}">
        </div>
        <div>
            <button type="submit">Сохранить</button>
            <button type="reset">Отмена</button>
        </div>
    </form>
{% endblock %}
