{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %} Лабораторная работа 4 {% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Регистрация</h1>
    <form method="post">
        <div>
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login">
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="gender">Пол:</label>
            <select id="gender" name="gender">
                <option value="мужской">Мужской</option>
                <option value="женский">Женский</option>
            </select>
        </div>
        {% if error %}
            <div style="color: red; font-style: italic;">{{ error }}</div>
        {% endif %}
        <div>
            <button type="submit">Зарегистрироваться</button>
            <button type="reset">Отмена</button>
        </div>
    </form>
{% endblock %}
