{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %} Лабораторная работа 2 {% endblock %}

{# основной контент: #}
{% block main %}
    <h2> Расчёт с параметрами:</h2>
    {{a}} + {{b}} = {{a + b}} <br>
    {{a}} - {{b}} = {{a - b}} <br>
    {{a}} x {{b}} = {{a * b}} <br>
    {% if b != 0 %}
        {{a}} / {{b}} = {{a / b}} <br>
    {% else %}
        {{a}} / {{b}} - деление на ноль невозможно <br>
    {% endif %}
    {{a}}<sup>{{b}}</sup> = {{a ** b}} <br>
{% endblock %}