{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Заказ напитка</h1>

    <form action="/lab3/pay">
        <div>Напиток:</div>
        <label>
            <input type="radio" value="coffee" name="drink" checked>Кофе (120 рублей)
        </label>
        <label>
            <input type="radio" value="black-tea" name="drink">Чёрный чай (80 рублей)
        </label>
        <label>
            <input type="radio" value="green-tea" name="drink">Зелёный чай (70 рублей)
        </label>
        <p></p>
        <div>Добавки:</div>
        <label>
            <input type="checkbox" name="milk">Молоко (+30 рублей)
        </label>
        <label>
            <input type="checkbox" name="sugar">Сахар (+10 рублей)
        </label>
        <p></p>
        <div>
            <button type="submit">Заказать</button>
        </div>
    </form>
{% endblock %}

