{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %} Лабораторная работа 5{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Редактирование статьи</h1>

    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" maxlength="50" name="title" value="{{ article['tittle'] }}">
            </label>
        </div>

        <div>
            <textarea name="article_text">{{ article['article_text'] }}</textarea>
        </div>
        
        {% if error %}
            <div style="color: red; font-style: italic;">{{ error }}</div>
        {% endif %}

        <div>
            <button type="submit">Сохранить</button>
            <a href="/lab5/list">Отмена</a>
        </div>
    </form>
{% endblock %}
