{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %} Лабораторная работа 5 {% endblock %}

{# основной контент: #}
{% block main %}
    <h1>База знаний</h1>
    <div class="nav-bar">
        <nav>
            <ul>
                <li><a href="/lab5/list">Список статей</a></li>
                <li><a href="/lab5/create">Создать статью</a></li>
                <li><a href="/lab5/login">Войти</a></li>
                <li><a href="/lab5/register">Регистрация</a></li>
                <li>anonymous</li>
            </ul>
        </nav>
    </div>
{% endblock %}


