body {
    background-color: #f0f8ff;
    color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

header {
    background-color: #fedeff;
    color: #330a10;
    font-family: Impact, sans-serif;
    padding: 7px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    cursor: pointer;
}

main {
    background-color: #f0f8ff;
    color: #333333;
    font-family: Helvetica, sans-serif;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #fedeff;
    color: #17312f;
    font-family: Impact, sans-serif;
    padding: 7px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    cursor: pointer;
}

.error {
    color: #ff0000;
    font-family: Impact, sans-serif;
}

/* лаба 5 */

.nav-bar {
    background-color: #e0bbe4;
    padding: 10px 0;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.nav-bar ul li {
    display: inline;
    margin-right: 15px;
}

.nav-bar ul li a {
    color: #7e009a;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #7e009a;
    border-radius: 4px;
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.nav-bar ul li a:hover {
    background-color:#7e009a;
    color: #ffffff;
}

h1, h2 {
    margin: 0;
    padding-bottom: 20px;
    font-weight: normal;
}

blockquote {
    font-style: italic;
    margin: 1rem 0;
    padding-left: 1rem;
    border-left: 4px solid #f4d2ff;
    color: #555555;
}

button {
    background-color: #7e009a;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #5f007c;
    transform: translateY(-2px);
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-row {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.button-row .btn {
    padding: 5px 10px;
    background-color: #7e009a;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.button-row .btn:hover {
    background-color: #5f007c;
    transform: translateY(-2px);
}

.button-row form {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    margin: 10px 0;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li button {
    margin-left: 10px;
}

p {
    text-align: right;
    margin: 30px;
    font-size: 14px;
    color: #000;
}

/* лаба 8 */

.block-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9c69af;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.block-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex: 1;
}

.block {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.block:hover {
    background-color: #e0e0e0;
}

.user-status {
    font-size: 16px;
    color: #000;
    margin-left: 20px;
    white-space: nowrap;
}
