/* Стили для главной страницы */
body {
    padding: 0px;
    font-family: Arial, sans-serif;
    background: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1614386919_4-p-svetlo-serii-fon-dlya-saita-5.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  /* Стили для форм */
form {
    margin-bottom: 20px;
  }


button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  } 

.menu {
    background-color: rgb(229, 235, 190);
    padding: 40px;
    width: 60%;
    margin-top: 0px;
    position: absolute;
    top: 0px;
    left: 17%;
  }

.links {
    position: absolute;
    width: 1270px;
    height: 55px;
    right: 0px;
    top: 0px;
    background-color: yellowgreen;
    text-align: right;
  }

.username {
    position: absolute;
    top: 20px;
    width: 200px;
    text-align: left;
    left: 320px;
  }

.search {
    text-align: center;
  }

.auth {
    position: sticky;
    right: 1200px;
  }

.auth_back {
    background-color: antiquewhite;
    margin: 40px;
    padding: 40px;
    text-align: center;
  }

.text_log {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
.text_pas {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
  }

.text_search {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

.reg_back {
    background-color: rgb(229, 235, 190);
    margin: 40px;
    padding: 40px;
    text-align: center;
  }

.cre_back {
    background-color: rgb(229, 235, 190);
    margin: 40px;
    padding: 40px;
    text-align: center;
  }

.link_left_s {
    position: absolute;
    top: 168px;
    left: 168px;
    display: inline-block;
    padding: 7px 24px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #788d90;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.link_right_s {
    position: absolute;
    top: 168px;
    right: 168px;
    display: inline-block;
    padding: 7px 24px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #788d90;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.profile_but {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-right: 25px;
    margin-top: 6px;
}
    
.profile_but:hover {    
    background-color: #45a049;  
}


ul {
    list-style-type:  none;
}

.text_search {
    width: 31%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 12px;
    border-radius: 20px;
    border-color: aquamarine;
}

.select {
    height: 36px;
    border: 1px solid #999;
    font-size: 18px;
    color: #1cc976;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
}

.user_name {
    position: absolute;
    left: 25px;
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #08550c;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-right: 25px;
    margin-top: 6px;
}

.admin_but {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #52b2c2;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin: 6px;
}

.admin {
    color: #08550c;
    position: absolute;
    left: -236px;
    background-color: aliceblue;
    padding: 10px;
    width: 197px;
    text-align: center;
}

.text_pages {
    height: 36px;
    border: 1px solid #999;
    font-size: 18px;
    color: #1cc976;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
    width: 93px;
}

.ot_do {
    color: #08550c;
}

.link_left_v {
    position: absolute;
    top: 80px;
    left: 71px;
    display: inline-block;
    padding: 7px 24px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #788d90;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.link_right_v {
    position: absolute;
    top: 80px;
    right: 71px;
    display: inline-block;
    padding: 7px 24px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #788d90;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.main_page {
    text-align: center;
    margin-top: 40px;
}

.glav_str {
    position: absolute;
    top: -13px;
    color: white
}

.ser_str {
    margin-right: 25px;
    color: white;
    font-size: 30px;
}