<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>Все цветы</title>
</head>
<body>
    <header>
        WEB-программирование, часть 2. Лабораторная работа 2
    </header>

    <main>
        <h1>Все цветы</h1>
        <p>Количество цветов: {{ flowers|length }}</p>
        <ul>
            {% for flower in flowers %}
                <li>{{ flower.name }} - {{ flower.price }} руб.
                    <a href="{{ url_for('delete_flower', flower_id=loop.index0) }}">удалить</a>
                </li>
            {% endfor %}
        </ul>
        <p><a href="{{ url_for('clear_flowers') }}">Очистить список цветов</a></p>
        <form action="{{ url_for('add_flower') }}" method="post">
            <p>Добавить цветок:</p>
            <p>Название: <input type="text" name="name"></p>
            <p>Цена: <input type="text" name="price"></p>
            <p><input type="submit" value="Добавить"></p>
        </form>
    </main>

    <footer>
        &copy; Втюрина Наталья, ФБИ-24, 3 курс, 2024
    </footer>
</body>
</html>