<!DOCTYPE html>
<html>
<head>
    <title>Удалить книгу</title>
    <link rel="stylesheet" type="text/css" href="/static/rgz_main.css">
</head>
<body>
    <div class="cre_back">
        <h1>Удалить книгу</h1>
        <p>Вы уверены, что хотите удалить книгу?</p>
        <form method="POST" action="{{ url_for('delete_book', book_id=book.id) }}">
            <input type="int" name="id" placeholder="id книги"><br>
            <button type="submit">Удалить</button>
        </form>

        <a href="{{ url_for('search') }}" class="select">Отмена</a>

        {% if books %}
            <ul>
                {% for book in books %}
                    <li>
                        {{ book.id }}
                        {{ book.cover_photo }}
                        {{ book.title }}
                        {{ book.author }}
                        {{ book.num_pages }}
                        {{ book.publisher }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Книги не найдены</p>
        {% endif %}
    </div>
</body>
</html>