{% extends 'base.html' %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>Статьи</h1>
    
    {% if articles %}
        {% for article in articles %}
            <h2>{{ article.title }}</h2>
            <blockquote>{{ article.article_text }}</blockquote>
            
            {% if article.is_favorite %}(Избранная){% endif %}
            {% if article.is_public %}(Публичная){% endif %}
            <p></p>
            <form action="{{ url_for('lab8.delete', id=article.id) }}" method="post">
                <button type="submit">Удалить</button>
            </form>
            <p></p>
            <a href="{{ url_for('lab8.edit', id=article.id) }}">Редактировать</a>
        {% endfor %}
    {% else %}
        <p>Нет доступных статей.</p>
    {% endif %}
{% endblock %}