{% extends 'base.html' %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>Редактировать статью</h1>
    <form action="/lab8/edit/{{ article.id }}" method="post">
        <div>
            <label>Название: <input type="text" name="title" value="{{ article.title }}"></label>
        </div>
        <div>
            <label>Статья: <textarea name="article_text">{{ article.article_text }}</textarea></label>
        </div>
        <button type="submit">Сохранить</button>
    </form>
    
{% endblock %}