{% extends "base.html" %}

{# Номер лабораторной работы: #}
{% block lab %} Лабораторная работа 7 {% endblock %}

{% block script %}
{% endblock %}

{# Основной контент: #}
{% block main %}
    <h2 style="text-align: center;"> База знаний</h2>
    <div class="block-container">
        <div class="block-group">
            <a href="/lab8/articles" class="block">Список статей</a>
            <a href="/lab8/create" class="block">Создать статью</a>
            <a href="/lab8/login" class="block">Войти</a>
            <a href="/lab8/register" class="block">Регистрация</a>
        </div>
        <span class="user-status">Anonymous</span>
    </div>
{% endblock %}
